body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.centrado{
        margin:10px auto;
        display:block;
}
.class{
    margin-right:auto;
}

.h2{
    text-align: center;
    text-decoration:underline;
    color:blueviolet;
    border: 10px black;
    border-radius: 10px black;
    font-size:20px;
}
